body {
  background-image: url(background.jpg);
  background-size: cover;
  /*Text*/
  color: #FFFFFF;

}
header {
 left: 0;
  top: 0;
  background-color: #6C6B6B;
	position: fixed;
	position: relevant;
	width: 100%;
	padding: 0.8em;

  column-count: 6;
   
}
div {
  padding-left: 2em;
padding-right: 2em;
  padding-top: 5em;
}

footer{
  background-color: #6C6B6B;
 position: absolute;
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
	padding: 0.5em;

}